html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10 px de 16 px. Medida para que se consideren los mismos tamaños de pixeles en todos los dispositivos*/
}

body {
    font-family: 'IBM Plex Sans';
    font-size: 1.5rem;
}

.code_generator {
    max-width: 50rem;
    margin: 0 30rem 0 2rem;
}

.code_reader {
    max-width: 50rem;
    margin: 0 1rem 0 0;
}

.general_title {
    color: rgb(50, 50, 200);
}

.app {
    display: flex;
    /*Flexblox para posicionar*/
    justify-content: flex-start;
    align-content: flex-start;
}

input[type="text"] {
    padding: 0.5rem;
    display: block;
    width: 80%;
    background-color: #e1e1e1;
    margin: 0 0 0.5rem 0.5rem;
    border-radius: 3rem;
    border: none;
}


/*barcode generator styles*/

#config {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
}

.config {
    /*float: center;*/
    width: 23rem;
    height: 13rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 3rem;
    background-color: #808080;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.config .title {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem 0 0;
    font-weight: bold;
}

.config .barcode2D,
#miscCanvas {
    display: none;
}

#submit {
    clear: both;
}

#barcodeTarget,
#canvasTarget {
    margin-top: 0.5rem;
}

#columnas {
    column-count: 2;
    column-gap: 10rem;
}

.typeSelector {
    width: 10rem;
    height: 5rem;
    margin: 5rem 1rem 1rem 1rem;
    justify-content: center;
    align-content: center;
}